.MovieCard:not(:last-child) {
  margin-right: 0.5rem;
}

.MovieCard .movie-ion-card {
  margin: 0;
  width: fit-content;
}

.MovieCard .movie-poster {
  min-width: 6.5rem;
  height: 10rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: middle;
}
